/*div {
  border: 1px solid red;
}*/

html, body{
  font-family: "San Francisco", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.containerleft {
    display: inline-block;
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #1560FB;
    color: whitesmoke;
    float: left;
}

.header {
  margin-top: 20px;
  margin-bottom: 60px;
}

.main {
  margin: 80px auto auto auto;
  width: 100%;
}

.profilepic {
  display: block;
  margin: 40px auto auto auto;
  width: 170px;
  height: 170px;
  border-radius: 200px;
  box-shadow: 0 5px 10px #0A4DD9
}

.caption {
  display: block;
  margin: 30px auto auto auto;
  opacity: 0.6;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.introbox {
  display: block;
  margin: 10px auto auto auto;
  padding: 0 20px;
  max-width: 460px;
  color: white;
  text-align: center;
  word-wrap: break-word;
}

h1 {
  /*font-size:;*/
}

.metalab {
  padding: 0 4px 2px 4px;
  color: white;
  border-bottom: 2px solid #A3C0FC;
  text-decoration: none;
}

.metalab:hover {
  background-color: #0A4DD9;
  border-color: #A3C0FC;
}

.button {
    display: block;
    position: relative;
    width: 200px;
    margin: 30px auto 60px auto;
    padding: 11px 24px;
    color: white;
    background: #1560FB;
    border-color: white;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
  }
  .button:hover {
      display: block;
      position: relative;
      width: 200px;
      margin: 30px auto 60px auto;
      padding: 11px 24px;
      color: #1560FB;
      background: white;
      border-color: #1560FB;
      border-radius: 3px;
      border-style: solid;
      border-width: 2px;
      font-weight: 700;
      line-height: 22px;
      text-decoration: none;
    }

.button::after{
  float: right;
  content: '\279C';
}
.footer {
  height: 400px;
  margin: auto;
  padding-right: 10px;
}

.madein {
  position: relative;
  float: left;
  margin: auto auto 10px 10px;
  color: white;
  text-decoration: none;
  font-size: 10px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.social,  .info-footer__social-icon--dribbble, .info-footer__social-icon--linkedin, .info-footer__social-icon--instagram, .info-footer__social-icon--github, .info-footer__social-icon--twitter {
  position: relative;
  float: right;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.containerright {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 45%;
  float: left;
  overflow: scroll;
  }

  .info {
    padding: 0 10px 0 10px;
    text-align: left;
  }
.title {
  color: #1560FB;
  margin: 0 0 20px 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
  .project-title>a {
    color: black;
    font-size: 18px;
  }

  .resume-link {
      display: block;
      position: relative;
      width: 200px;
      margin: 30px auto 60px auto;
      padding: 11px 24px;
      color: black;
      background: white;
      border-color: white;
      border-radius: 3px;
      border-style: solid;
      border-width: 2px;
      font-weight: 700;
      line-height: 22px;
      text-decoration: none;
    }
    .resume-link:hover {
        display: block;
        position: relative;
        width: 200px;
        margin: 30px auto 60px auto;
        padding: 11px 24px;
        color: grey;
        background: none;
        border: none;
        font-weight: 700;
        line-height: 22px;
        text-decoration: none;
      }

  .resume-link::after{
    float: right;
    content: '\279C';
    color: #1560FB;
  }
